extends ../layout.pug
include ../mixins/post.pug

block head
	title Perguntas Frequentes

block content
	h1.board-title Perguntas Frequentes
	include ../includes/stickynav.pug
	.table-container.flex-center.mv-5
		.anchor
		table
			tr
				th Perguntas frequentes 
			tr
				td.post-message
					b Geral
					ul.mv-0
						li: a(href='#denunciar') Como posso denunciar uma publicação?
						li: a(href='#cripto') Como posso ajudar o ptchan.org?
						li: a(href='#legalDMCA') Remoção de conteúdo que infringe direitos legais/DMCA.
						li: a(href='#contactar') Como posso contactar a administração?
						li: a(href='#source') Source?
						
					b Participar
					ul.mv-0
						li: a(href='#criarfio') Como crio um fio?
						li: a(href='#responder') Como respondo a um fio?
						li: a(href='#responderu') Como respondo a outro utilizador?
						li: a(href='#sage') O que é um sage?
						li: a(href='#IDs') O que são IDs?
						li: a(href='#captcha') Como resolvo o CAPTCHA?
						li: a(href='#name-formatting') Como funcionam os nomes, tripcodes e capcodes?
						li: a(href='#post-styling') Como posso formatar o meu texto?
						//li: a(href='#post-info') Qual é o limite de ficheiros?
						//li: a(href='#moderation') Como funciona a moderação?
						//li: a(href='#banido') Fui banido, e agora?
					b Tábuas, utilizadores & permissões
					ul.mv-0
						li: a(href='#make-a-board') Como faço uma tábua?
						//li: a(href='#staff-and-permissions') Como é que o staff, utilizadores e permissões funcionam?
						//li: a(href='#antispam') What do the board settings for antispam do?
					b Política de privacide e cookies/local storage.
					ul.mv-0
						li: a(href='#privacidadecookies') Política de privacidade e cookies/local storage.

	.table-container.flex-center.mv-5
		.anchor#denunciar
		table
			tr
				th: a(href='#denunciar') Como posso denunciar uma publicação?
			tr
				td.post-message
					p
						| Podes denunciar uma publicação que infrinja as regras clicando na seta em cima da publicação e Denunciar/Moderar - depois clica em Denúnciar ou Denúncia Global, preenche o motivo, completa o CAPTCHA e envia. 
					p
						| Para denunciares várias publicações ao mesmo tempo clica nas checkboxes das publicações e vai a Ações no final da página.
	.table-container.flex-center.mv-5
		.anchor#cripto
		table
			tr
				th: a(href='#cripto') Como posso ajudar o ptchan.org?
			tr
				td
					ul
						li(style='display: contents;'): img(src='/misc/btc.png' title='BTC' style='width: 15px; height: 15px; vertical-align: top;')
						|   Bitcoin:
						a.mono(href='bitcoin:12dGju65fe3eqmen5QJ1BwVZ6qvKVqRcA4') 12dGju65fe3eqmen5QJ1BwVZ6qvKVqRcA4
					ul(style='word-break: break-all;')
						li(style='display: contents;'): img(src='/misc/xmr.png' title='XMR' style='width: 16px; height: 16px; vertical-align: top;')
						|   Monero:
						a.mono(href='monero:85CoSP2webVCM1ygP3M6HqTkbxAkNE7FAUMFkySp6p2LKdtnzX2uvF5b2c4stcUaRCWeWY4jPnU1JgNBXZrLxgeGUGsbKxT') 85CoSP2webVCM1ygP3M6HqTkbxAkNE7FAUMFkySp6p2LKdtnzX2uvF5b2c4stcUaRCWeWY4jPnU1JgNBXZrLxgeGUGsbKxT

	.table-container.flex-center.mv-5
		.anchor#legalDMCA
		table
			tr
				th: a(href='#legalDMCA') Remoção de conteúdo que infringe direitos legais/DMCA
			tr
				td.post-message
					p
						| If something on this website infringes on your legal rights please submit a properly formated DMCA Takedown Notice or legal equivalent to info@ptchan.org and the content will be taken down as soon as possible.
					p
						| Se algo neste site infringe os teus direitos legais envia um DMCA Takedown ou equivalente legal devidamente formatado para info@ptchan.org e o conteúdo será prontamente removido.
	.table-container.flex-center.mv-5
		.anchor#contactar
		table
			tr
				th: a(href='#contactar') Como posso contactar a administração?
			tr
				td.post-message
					p
						a(href='mailto:info@ptchan.org') info@ptchan.org
	.table-container.flex-center.mv-5
		.anchor#source
		table
			tr
				th: a(href='#Source') Source
			tr
				td
					p
						img.logo(src='https://ptchan.org/asset/i/16caeeac9cb82821b7e82278f867c6e1630e79d7145849036db763aeeb561549.png' title='O australiano.')
						br
						|	O ptchan existe também graças ao 
						a(href='https://gitgud.io/fatchan/jschan/' target='_blank') australiano do jschan 
						|considera doar para estes endereços para ajudar o desenvolvimento do software:	
						ul
							li(style='display: contents;'): img(src='/misc/btc.png' title='BTC' style='width: 15px; height: 15px; vertical-align: top;')
							|   Bitcoin:
							a.mono(href='bitcoin:bc1q4elrlz5puak4m9xy3hfvmpempnpqpu95v8s9m6') bc1q4elrlz5puak4m9xy3hfvmpempnpqpu95v8s9m6
						ul(style='word-break: break-all;')
							li(style='display: contents;'): img(src='/misc/xmr.png' title='XMR' style='width: 16px; height: 16px; vertical-align: top;')
							|   Monero:
							a.mono(href='monero:89J9DXPLUBr5HjNDNZTEo4WYMFTouSsGjUjBnUCCUxJGUirthnii4naZ8JafdnmhPe4NP1nkWsgcK82Uga7X515nNR1isuh') 89J9DXPLUBr5HjNDNZTEo4WYMFTouSsGjUjBnUCCUxJGUirthnii4naZ8JafdnmhPe4NP1nkWsgcK82Uga7X515nNR1isuh


	.table-container.flex-center.mv-5
		.anchor#criarfio
		table
			tr
				th: a(href='#criarfio') Como crio um fio?
			tr
				td
					p
						| Para criares um fio clica em Novo Fio no topo da página ou catálogo de uma tábua.
	.table-container.flex-center.mv-5
		.anchor#responder
		table
			tr
				th: a(href='#criarfio') Como respondo a um fio?
			tr
				td
					p
						| Para responderes a um fio primeiro tens que o abrir clicando em Responder e depois em Responder no topo da página do fio, também podes clicar no número da publicação para abrir o fio/caixa de resposta de forma mais rápida.
	.table-container.flex-center.mv-5
		.anchor#responderu
		table
			tr
				th: a(href='#responderu') Como respondo a outro utilizador?
			tr
				td
					p
						| Para responderes a outro utilizador clica no seu número de publicação e este é adicionado automáticamente à caixa de resposta.
	.table-container.flex-center.mv-5
		.anchor#sage
		table
			tr
				th: a(href='#sage') O que é um sage?
			tr
				td
					p
						| Ao escreveres sage na caixa de email/opção a tua publicação não eleva o fio para o topo da página.
	.table-container.flex-center.mv-5
		.anchor#IDs
		table
			tr
				th: a(href='#IDs') O que são IDs?
			tr
				td
					p
						| Os IDs, quando ativos numa tábua, são uma forma de identificar utilizadores dentro de um fio.
	.table-container.flex-center.mv-5
		.anchor#captcha
		table
			tr
				th: a(href='#captcha') Como resolvo o CAPTCHA?
			tr
				td
					p
						img.logo(src='/misc/captcha.png' title='Usa o cérebro')
	.table-container.flex-center.mv-5
		.anchor#name-formatting
		table
			tr
				th: a(href='#name-formatting') Como funcionam os nomes, tripcodes e capcodes?
			tr
				td.post-message
					p Ao fazeres uma publicação podes formatar o campo do nome para incluir um nome, tripcode, capcode ou uma combinação dos três. Também podes deixar o nome em branco e o default da tábua será usado.

					b Formato de nome
					p 
						| Nomes devem ser inseridos da seguinte forma: 
						input(disabled='true' spellcheck='false' type='text' value='Nome##Tripcode## Capcode')
						| .
					p Exemplos válidos:: 
					ol.mv-0
						li nome
						li #tripcode
						li ##tripcode
						li ## capcode
						li nome#tripcode
						li nome##tripcode
						li nome## capcode
						li nome#tripcode## capcode
						li nome##tripcode## capcode
						li #tripcode## capcode
						li ##tripcode## capcode
						li ##
					p O último exemplo apenas mostra a tua posição na tábua, se és o dono, mod, etc.
					p Cada elemento pode ser usado numa combinação ou independentemente, o exemplo número 9 seria:
						-
							const examplePost = {
								"date" : new Date("2019-08-02T09:48:44.180Z"),
								"name" : "nome",
								"board" : "example",
								"tripcode" : "!!X8NXmAS44=",
								"capcode" : "##Board Owner capcode",
								"message" : "Olá mundo!",
								"nomarkup" : "Olá mundo!",
								"thread" : 1,
								"password" : null,
								"email" : "",
								"spoiler" : false,
								"banmessage" : null,
								"files" : [ ],
								"reports" : [ ],
								"globalreports" : [ ],
								"quotes" : [ ],
								"backlinks" : [ ],
								"postId" : 123
							}	
						+post(examplePost)
					//p The name appears bold in the top left, followed by the tripcode in regular weight with a !! prefix, then the capcode in a different color, bold and with a ## prefix. The colours may vary between themes but are generally distinct from each other

					b Nome
					p O Nome é apenas o que queres mostrar ao lado da tua publicação, outros utilizadores podem escrever o mesmo Nome portanto não existe nada que impeça a impersonalização. Não está realacionado com a tua conta (para utilizadores registados).

					b Tripcode
					p Um Tripcode é uma forma de identidade.

					b Capcode
					p Um Capcode é uma forma de identificação para utilizadores registados e com algum tipo de função. Isto inclui admins, staff global, donos de tábuas e moderadores.
	.table-container.flex-center.mv-5
		.anchor#post-styling
		table
			tr
				th(colspan=2): a(href='#post-styling') Formatação de texto
			tr
				th Input
				th Output
			tr
				td &gt;citar
				td
					span.greentext &gt;citar
			tr
				td &lt;rosacitar
				td
					span.pinktext &lt;risacitar
			tr
				td ==título==
				td
					span.title título
			tr
				td ''negrito''
				td
					span.bold negrito
			tr
				td __sublinhado__
				td
					span.underline sublinhado
			tr
				td ~~riscado~~
				td
					span.strike riscado
			tr
				td ||spoiler||
				td
					span.spoiler spoiler
			tr
				td **itálico**
				td
					span.em itálico
			//tr
				td (((detected)))
				td
					span.detected (((detected)))
			tr
				td ##2d9+3
				td
					img(src='/file/dice.png' height='16' width='16')
					span.dice (##2d9+3) 2 dados de 9 e modificador +3 = 10
			tr
				td https://example.com
				td: a(href='#!') https://example.com
			tr
				td [links personalizados](https://example.com)
				td: a(href='#!') links personalizados
			tr
				td &gt;&gt;123
				td: a(class="quote" href="#!") &gt;&gt;123
			tr
				td &gt;&gt;&gt;/b/
				td: a(class="quote" href="#!") &gt;&gt;&gt;/b/
			tr
				td &gt;&gt;&gt;/b/123
				td: a(class="quote" href="#!") &gt;&gt;&gt;/b/123
			tr
				td `inline monospace`
				td
					span.mono inline monospace
			tr
				td
					| [code]language
					br
					| int main() {...}
					br
					| [/code]
				td
					span.code int main() {...}
			tr
				td
					pre
						| [code]aa
						| ∧＿∧
						| ( ・ω・) Vamos tentar outra vez.
						| [&#x2F;code]
				td
					pre.aa
						| ∧＿∧
						| ( ・ω・) Vamos tentar outra vez.
			tr
				td(colspan=2)
					| A "language" das tags de código é opcional, sem ela deteção automática de código é usada.
					p
					| Se for "plain" a deteção de código é desativada. Se "aa" for usado a fonte é ajustada para Arte ASCII/Japanese Shift JIS art.
					| Nem todas as linguagens de programação são suportadas.
					p
					| Linguagens suportadas: #{codeLanguages.join(', ')}
	//.table-container.flex-center.mv-5
		.anchor#post-info
		table
			tr
				th: a(href='#post-info') What is the file size limit?
			tr
				td
					p Max size of form data per-post is #{postFilesSize}. Because other fields e.g. name, message, etc contribute to this, the maximum size of file uploads will be very slightly smaller than this.
	//.table-container.flex-center.mv-5
		.anchor#moderation
		table
			tr
				th: a(href='#moderation') Como funciona a moderação?
			tr
				td.post-message
					b Geral
					p
						| Moderation is very simple. Moderation permissions are different between regular users, board staff (board owner or moderator) and globals (global staff or admin). 
						| By default, regular users can delete, spoiler or remove the files from their own posts, provided a matching post password is supplied. They can also report or global report posts. 
						| Board staff have near full power over posts on their board including removing posts, stickying, spoilering, etc. even for other users posts without the need for a password. They also have access to board specific management page.
						| Global staff have full power over all posts on all boards, can access the board specific management page for any board and additionally have access to the global management page.
					b Denúncias locais vs. globais
					p
						| There exists the concept of "local" and "global" reports. Reporting a post locally will show the post along with reports on the report page for that particular board, and the reports 
						| may be actioned upon by the board staff. Reporting a post globally will show the post along with reports on the global manage page available only to global staff and may be actioned upon by global staff. 
						| Global reports should be used to flag posts that violate global rules such as illegal content or spam, in contrast to local reports which are for posts that abide by global rules but break 
						| board-specific rules (which may be made arbitrarily by board staff). It is also possible to be banned from a board or globally for abuse of the report system.
					b Processar publicações em massa
					p
						| Each post has a checkbox in the top left to select it for moderation actions. Multiple posts may be selected to allow batch processing e.g. reporting multiple offending posts in one request. 
						| The same is present in moderation interfaces. Some actions for example bans (which are based on IP) may also be handled in batches. Selecting multiple posts and using the ban action will 
						| apply a single ban for each unique IP of the selected posts.
					b Formato da duração de bans, etc
					p
						| Some moderation interfaces, for example the ban duration when moderating posts, or the ban duration for post filtering use a shorthand for times/length. This format supports years, months, weeks, days, hours, minutes and seconds.
						| An input of "3mo" would mean 3 months and "1y2mo3w4d5h6m7s" would mean 1 year, 2 months, 3 weeks, 4 days, 5 hours, 6 minutes and 7 seconds. Units of time should be in descending order, so "2w1mo" is invalid.
						| However you may use "6w" for example to input 6 weeks, and are not required to use "1mo2w".
	.table-container.flex-center.mv-5
		.anchor#make-a-board
		table
			tr
				th: a(href='#make-a-board') Como faço uma tábua?
			tr
				td
					p
						a(href='/register.html') Regista
						|  uma conta, depois 
						a(href='/create.html') cria uma tábua
						|. Evita fazer tábuas excessivas ou que já existam.
	//.table-container.flex-center.mv-5
		.anchor#staff-and-permissions
		table
			tr
				th: a(href='#staff-and-permissions') Como é que o staff, utilizadores e permissões funcionam?
			tr
				td
					p
						| There are 5 levels of permissions on the site with 0 being the highest level of privilege and 4 the lowest. In this list "Regular user" refers to somebody who is either not logged in or is not owner/mod of the board. For example if a user creates their own board, they do not have the "Board owner" permissions on other boards. Each board can have one owner and multiple moderators. Ownership can be transferred.
						ol(start='0')
							li Admin: All permissions
							li Global staff: All permissions on all boards excluding account management and news updates
							li Board owner: Permissions to board-specific settings, reports, banners and bans and some post actions
							li Board moderator: Permissions to manage board-specific reports, bans and some post actions
							li Regular user: Permissions to report/delete/spoiler posts
						| Post actions refers to reporting, deleting, stickying, etc. More details on these permissions:
						ol(start='0')
							li Admin: All actions
							li Global staff: All below, delete files, delete-by-ip-global and global ban
							li Board owner: Same as board moderator
							li Board moderator: All below, move/merge, ban, delete-by-ip, sticky/sage/lock/cycle
							li Regular user: Reports, and post spoiler/delete/unlink if the board has them enabled
						| Administrators have the ability to assign a permission level directly to users through the global management page. Typically a user is level 4 (regular user), 1 (global staff) or 0 (administrator).
						| Level 2 and 3 are usually only applicable to users when on a board they are owner or moderator. However, level 2 or 3 can be assigned manually to create global board owners or global board moderators
						| who have board owner or moderation permissions on all boards, but without access to the global moderation interfaces. If assigning global board owners (level 2), they will have access to the board settings
						| and the ability to reassign board owners.
	//.table-container.flex-center.mv-5
		.anchor#antispam
		table
			tr
				th: a(href='#antispam') What do the board settings for antispam do?
			tr
				td
					p Lock Mode: Choose to lock posting new threads or all posts.
					p Captcha Mode: Choose to enforce captchas for posting threads or all posts.
					p PPH Trigger Threshold: Trigger an action after a certain amount of PPH.
					p PPH Trigger Action: The action to trigger.
					p TPH Trigger Threshold: Trigger an action after a certain amount of TPH.
					p TPH Trigger Action: The action to trigger.
					p Trigger Reset Lock Mode: If a trigger threshold was reached, reset the lock mode to this at the end of the hour.
					p Trigger Reset Captcha Mode: If a trigger threshold was reached, reset the captcha mode to this at the end of the hour.
					p Early 404: When a new thread is posted, delete any existing threads with less than #{early404Replies} replies beyond the first 1/#{early404Fraction} of threads.
					p Disable anonymizer file posting: Prevent users posting images through anonymizers such as Tor hidden services, lokinet SNApps or i2p eepsites.
					p Blocked Countries: Block country codes (based on geo Ip data) from posting.
					p Filters: Newline separated list of words or phrases to match in posts. Checks name, message, email, subject, and filenames.
					p Strict Filtering: More aggressively match filters, by normalising the input compared against the filters.
					p Filter Mode: What to do when a post matches a filter.
					p Filter Auto Ban Duration: How long to automatically ban for when filter mode is set to ban. Input the duration in time format described in the #[a(href='#moderation') moderation section].
					
	.table-container.flex-center.mv-5
		.anchor#privacidadecookies
		table
			tr
				th: a(href='#privacidadecookies') Política de privacidade
			tr
				td.post-message
					p 
						| Os endereços IP são anonimizados e apenas estão disponíveis no seu formato original à administração, ficam associados à publicação e são automaticamente eliminados quando a publicação sai da tábua ou depois de 7 dias.
					p
						| Todos os cookies e local storage utilizados pelo ptchan são apenas para o seu correto funcionamento e personalização. O ptchan não usa cookies de terceiros ou tracking publicitário.
		.table-container.flex-center.mv-5
		table
			tr
				th(colspan=3) Cookies e Local Storage
			tr
				th Nome
				th Tipo
				th Função
			tr
				td connect.sid
				td Cookie
				td Sessão de conta
			tr
				td captchaid
				td Cookie
				td Captcha
			tr
				td wpcc
				td Cookie
				td Consentimento cookies
			tr
				td /css/themes/*
				td Local Storage
				td Personalização
			tr
				td 24
				td Local Storage
				td Personalização
			tr
				td alwaysshowreplies
				td Local Storage
				td Personalização
			tr
				td codetheme
				td Local Storage
				td Personalização
			tr
				td crispimages
				td Local Storage
				td Personalização
			tr
				td customcss
				td Local Storage
				td Personalização
			tr
				td dragleft
				td Local Storage
				td Personalização
			tr
				td dragtop
				td Local Storage
				td Personalização
			tr
				td filters1
				td Local Storage
				td Personalização
			tr
				td heightlimit
				td Local Storage
				td Personalização
			tr
				td hiddenimages
				td Local Storage
				td Personalização
			tr
				td hiddenrecursive
				td Local Storage
				td Personalização
			tr
				td hiddenthumbnails
				td Local Storage
				td Personalização
			tr
				td hiddenloadingbars
				td Local Storage
				td Personalização
			tr
				td hidepoststubs
				td Local Storage
				td Personalização
			tr
				td live
				td Local Storage
				td Personalização
			tr
				td name
				td Local Storage
				td Personalização
			tr
				td localtime
				td Local Storage
				td Personalização
			tr
				td notifications-yous-only
				td Local Storage
				td Personalização
			tr
				td noncolorids
				td Local Storage
				td Personalização
			tr
				td notifications
				td Local Storage
				td Personalização
			tr
				td postpassword
				td Local Storage
				td Personalização
			tr
				td relative
				td Local Storage
				td Personalização
			tr
				td scroll
				td Local Storage
				td Personalização
			tr
				td theme
				td Local Storage
				td Personalização
			tr
				td volume
				td Local Storage
				td Personalização
			tr
				td yous-setting
				td Local Storage
				td Personalização
			tr
				td yous
				td Local Storage
				td Personalização
			tr
