extends ../layout.pug

block head
	title Regras

block content
	h1.board-title Regras
	.table-container.flex-center.mv-10
		table
			tr
				th Regras Globais 
			tr
				td.post-message

					ol
						li É proibido o uso deste site por menores de 18 anos.
						li O seguinte conteúdo é proibido:
							p Conteúdo sugestivo relacionado com menores de idade.
							p Conteúdo que envolva maus tratos a animais.
							p Conteúdo de natureza pessoal ou privada, e.g. "doxing".
							p Conteúdo que ponha em causa o normal funcionamento do site.
							p Conteúdo que seja, simplesmente, ilegal.
						li É proibido qualquer tipo de flood / spam / publicidade.
					p Estas são as regras escritas, também existem as não escritas, se és novo familiariza-te com a cultura geral do site antes de participar.
	.table-container.flex-center.mv-10
		table
			tr
				th Administração de Tábuas
			tr
				td.post-message

					ol
						li As tábuas criadas pelos utilizadores são da sua responsabilidade e compete aos mesmos a sua administração de acordo com o normal funcionamento do site.
						li Se um administrador ficar mais de 1 mês sem aceder à sua conta as suas tábuas serão dadas como abandonadas podendo passar para o staff global, serem oferecidas a outro utilizador, escondidas da lista ou apagadas sem aviso.

