details.toggle-label#actionform
	summary.collapse#action-menu Moderação
	.actions
		h4.no-m-p Acões:
		if board.settings.userPostDelete
			label
				input.post-check(type='checkbox', name='delete' value='1')
				| Apagar Publicação
		if board.settings.userPostUnlink
			label
				input.post-check(type='checkbox', name='unlink_file' value='1')
				| Unlink Ficheiros
		if board.settings.userPostSpoiler
			label
				input.post-check(type='checkbox', name='spoiler' value='1')
				| Spoiler Ficheiros
		if board.settings.userPostSpoiler || board.settings.userPostUnlink || board.settings.userPostDelete
			label
				input#password(type='password', name='postpassword', placeholder='Password' autocomplete='off')
		label
			input.post-check(type='checkbox', name='report' value='1')
			| Denunciar
		label
			input.post-check(type='checkbox', name='global_report' value='1')
			| Denúncia Global
		label
			input#report(type='text', name='report_reason', placeholder='Motivo' autocomplete='off')
	.actions
		h4.no-m-p Captcha:
		include ./captcha.pug
	input(type='submit', value='submit')
