details.toggle-label#actionform
	summary.collapse#action-menu Moderação
	.actions 
		h4.no-m-p Ações:
		label
			input.post-check(type='checkbox', name='delete' value='1')
			| Apagar Publicação
		label
			input.post-check(type='checkbox', name='unlink_file' value='1')
			| Unlink Files
		label
			input.post-check(type='checkbox', name='delete_file' value='1')
			| Apagar Ficheiros
		label
			input.post-check(type='checkbox', name='spoiler' value='1')
			| Spoiler Ficheiros
		label
			input.post-check(type='checkbox', name='edit' value='1')
			| Editar Publicação
		label
			input.post-check(type='checkbox', name='delete_ip_global' value='1')
			| Apagar do IP Globalmente
		label
			input.post-check(type='checkbox', name='global_dismiss' value='1')
			| Dismiss Denúncias Globais
		label
			input.post-check(type='checkbox', name='global_report_ban' value='1')
			| Banir Globalmente Denunciantes
		label
			input.post-check(type='checkbox', name='global_ban' value='1')
			| Banir Globalmente Utilizador
		label
			input.post-check(type='checkbox', name='ban_q' value='1')
			| Range Curto
		label
			input.post-check(type='checkbox', name='ban_h' value='1')
			| Range Largo
		label
			input.post-check(type='checkbox', name='no_appeal' value='1')
			| Ban sem Recurso
		label
			input.post-check(type='checkbox', name='preserve_post' value='1')
			| Mostrar Publicação no Ban
		label
			input.post-check(type='checkbox', name='hide_name' value='1' checked)
			| Esconder Username
		label
			input(type='text', name='ban_reason', placeholder='Motivo ban' autocomplete='off')
		label
			input(type='text', name='ban_duration', placeholder='Duração ban e.g. 7d' autocomplete='off')
		label
			input(type='text', name='log_message', placeholder='Mensagem modlog' autocomplete='off')
	input(type='submit', value='submit')
