.row
	.label IP/Hash
	input(type='text' name='ip' required)
.row
	.label Motivo Ban
	input(type='text' name='ban_reason')
.row
	.label Mensagem Modlog
	input(type='text' name='log_message')
.row
	.label Duração Ban
	input(type='text' name='ban_duration' placeholder='e.g. 7d')
.row
	.label Ban sem Recurso
	label.postform-style.ph-5
		input(type='checkbox', name='no_appeal' value='1')
.row
	.label Esconder Username
	label.postform-style.ph-5
		input(type='checkbox', name='hide_name' value='1' checked)
input(type='submit', value='submit')

