.table-container.mv-10.text-center.horscroll
	table.fw
		tr
			th
			th Tábua
			th Motivo
			th IP
			th Range
			th Autor
			th Data
			th Expira
			th Publicação
			th Visto?
			th Recurso?
			th Recurso
