unless minimal
	a(href='https://my-store-c0f105-2.creator-spring.com' target='_blank')
		img.centerpiece(src='/asset/i/74970b8585bcb3de192d4a58ce7a0569fab16675ad8211d3130c331af02ababa.png' title='Vais comprar e vais gostar.')
	small.footer#bottom
		| • 
		a(href='/news.html') Notícias
		|  • 
		a(href='/rules.html') Regras
		|  • 
		a(href='/faq.html') FAQ
		|  • 
		a(href='/faq.html#legalDMCA') Legal/DMCA
		|  • 
		a(href='https://gitgud.io/l29utp0/ptchina' target='_blank') Source
		|  • 
		a(href='/faq.html#cripto') Doar
		|  • 
		div
			p Todas as marcas registadas, direitos de autor, comentários e ficheiros neste site são propriedade e responsabilidade dos seus respectivos autores e proprietários. Só um louco levaria o que aqui é escrito a sério.
		div.snowflakes
			div.snowflake ❅
			div.snowflake ❅
			div.snowflake ❆
			div.snowflake ❄
			div.snowflake ❅
			div.snowflake ❆
			div.snowflake ❄
			div.snowflake ❅
			div.snowflake ❆
			div.snowflake ❄
script(src=`/js/render.js?v=${commit}`)
