unless minimal
	//-a(href='/faq.html#cripto' target='_blank')
		img.centerpiece(style='margin-bottom: 10px;' src='/misc/ouroad4.gif' title='ptchina ouro!')
	small.footer#bottom
		div
			p Todas as marcas registadas, direitos de autor, comentários e ficheiros neste site são propriedade e responsabilidade dos seus respectivos autores e proprietários. Só um louco levaria o que aqui é escrito a sério.
		| •
		|
		a(href='/faq.html#app') App
		//-|  •
		//-a(href='/news.html') Notícias
		|  •
		|
		a(href='/rules.html') Regras
		|  •
		|
		a(href='/faq.html') FAQ
		//-|  •
		//-a(href='/faq.html#contactar') Legal/DMCA
		|  •
		|
		a(href='/faq.html#doar') ❤️ Doar
		|  •
		|
		a(href='https://shop.ptchan.org') 📦 Loja
		|  •
		//-div.snowflakes
			div.snowflake 🎉
			div.snowflake 🎈
			div.snowflake 🎊
			div.snowflake 🥳
			div.snowflake 2025
			div.snowflake 🎆
			div.snowflake 🎉
			div.snowflake 🥳
			div.snowflake 2025
			div.snowflake 🎈
			div.snowflake 🥳
script(src=`/js/render.js?v=${commit}`)
