unless minimal
	nav.navbar
		a.nav-item(href='/index.html') Início
		a(href='/boards.html' class=`nav-item ${enableWebring ? 'short-nav' : ''}`)
			| Tábuas
			if enableWebring
				.rainbow +Webring
		a.nav-item#overboardlink(href='/catalog.html') Tudo
		a.nav-item(href='/account.html') Conta
		if !modview && board
			a.nav-item(href=`/${board._id}/manage/${managePage || 'index.html'}`) Gerir
		a.jsonly.nav-item.right#settings