if post.sticky || post.bumplocked || post.locked || post.cyclic
	span.post-icons
		if post.sticky
			img(src='/file/sticky.png' height='14' width='14' title='Pinado')
			| 
		if post.bumplocked
			img(src='/file/bumplock.png' height='14' width='14' title='SAGE')
			| 
		if post.locked
			img(src='/file/lock.png' height='14' width='14' title='Trancado')
			| 
		if post.cyclic
			img(src='/file/cyclic.png' height='14' width='14' title='Reciclar')
			| 

