/*ptchina default adaptive theme*/
:root {
    --icon-color: invert(17%) sepia(89%) saturate(7057%) hue-rotate(2deg)
        brightness(93%) contrast(120%);
    --alt-label-color: #f5f5f5;
    --alt-font-color: #333;
    --background-top: #fff;
    --background-rest: #fff;
    --navbar-color: #f6f8fa;
    --post-color: #fff;
    --post-outline-color: #d1d9e0;
    --label-color: #f6f8fa;
    --box-border-color: #e0e0e0;
    --darken: #f6f8fa;
    --highlighted-post-color: #eedacb;
    --highlighted-post-outline-color: #d2d2d2;
    --board-title: #313370;
    --hr: #ddd;
    --font-color: #212121;
    --name-color: #313370;
    --capcode-color: #f00;
    --subject-color: #c33;
    --link-color: black;
    --accent-color: #f6f8fa;
    --post-link-color: darkblue;
    --link-hover: #313370;
    --input-borders: #d2d2d2;
    --input-color: #333;
    --input-background: #fff;
    --dice-color: maroon;
    --title-color: #c33;
    --greentext-color: #789922;
    --pinktext-color: #e0727f;
}

#float,
.post-container,
#livetext,
#threadstats,
.bottom-reply,
.catalog-tile,
.collapse,
.pages,
.post-container,
.stickynav {
    border-width: 1px;
}

.post-info,
.post-container:target .post-info,
.post-container.highlighted .post-info {
    background: none !important;
    border: none !important;
}

input[type="submit"] {
    background-color: var(--board-title);
    color: var(--background-rest);
}

.upload-list {
    max-height: none;
}

.upload-item p {
    max-height: 2.5em;
}

tr:nth-child(2n + 1) {
    background: unset;
}

img,
table,
video,
input,
textarea,
.catalog-tile,
.stickynav,
.form-post,
.post-button,
.post-container,
.pages,
.modal,
.rlabel,
.label,
.postform-style,
.embed-video,
.user.id,
#threadstats,
#action-menu,
#threadwatcher,
#actionform,
#livetext,
#postform-dragHandle,
#submitpost,
#customcss-setting,
#import-export-setting,
.collapse.no-decoration.post-button,
.thread.bottom-reply.no-decoration.post-button {
    border-radius: 10px;
}

.catalog-tile,
.post-container {
    background: none;
}

#float,
#livetext,
#threadstats,
.bottom-reply,
.collapse,
.pages,
.stickynav {
    background: var(--darken);
}

.collapse,
.expand-omitted,
.postmenu {
    border-radius: 5px;
}

.postmenu,
.expand-omitted {
    border: 1px solid var(--post-outline-color);
}

.catalog-thumb {
    box-shadow: 0 0 1px #000;
}

.user-id {
    text-shadow: none;
    color: #fff;
    padding: 1px 5px;
    border: none;
    border-radius: 10px;
}

.post-date {
    opacity: 0.5;
}

#float {
    border-radius: 10px;
}

table {
    overflow: hidden;
}

.post-info {
    background: var(--darken) !important;
    margin: -6.6px -6.7px -6.5px -6.5px;
    border-radius: 6px 6px 0px 0px;
    padding: 6px;
}

.op .post-info {
    background: 0 0 !important;
    margin: none !important;
    border-bottom: none !important;
    border-radius: none !important;
}

.post-info .post-check:hover {
    opacity: 1;
    margin-right: unset;
}

.post-info .post-check {
    opacity: 0;
    margin-right: -1em;
    transition:
        opacity 0.1s,
        margin-right 0.1s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --icon-color: invert(17%) sepia(89%) saturate(7057%) hue-rotate(2deg)
            brightness(93%) contrast(120%);
        --alt-label-color: #191b1f;
        --alt-font-color: #e0e0e0;
        --background-top: #0f1214;
        --background-rest: #0f1214;
        --navbar-color: #191b1f;
        --post-color: #191b1f;
        --post-outline-color: #191b1f;
        --label-color: #191b1f;
        --box-border-color: #111;
        --darken: #191b1f;
        --highlighted-post-color: #2b1d1f;
        --highlighted-post-outline-color: #111;
        --board-title: #e0e0e0;
        --hr: #191b1f;
        --font-color: #e0e0e0;
        --name-color: #e0e0e0;
        --capcode-color: #f00;
        --subject-color: #b294bb;
        --link-color: #e0e0e0;
        --accent-color: #e0e0e0;
        --post-link-color: #5f89ac;
        --link-hover: #81a2be;
        --input-borders: #111;
        --input-color: #e0e0e0;
        --input-background: #1d1d21;
        --dice-color: darkorange;
        --title-color: #d70000;
        --greentext-color: green;
        --pinktext-color: #e0727f;
    }

    table {
        border: 1px solid var(--label-color);
    }

    tr:nth-child(2n + 1) {
        background: unset;
    }

    .captcha {
        filter: invert(90%);
    }

    .box-wrap,
    .tabs li a {
        border: 2px solid #000;
    }

    .postmenu,
    .expand-omitted {
        border: 1px solid var(--font-color);
    }
}

@media only screen and (max-width: 600px) {
    .post-info {
        border-bottom: none;
    }

    .anchor:target + .post-container .post-info,
    .post-container.highlighted .post-info {
        border-bottom: none;
    }

    .catalog .post-check {
        top: 4px;
        margin-left: 2px;
    }
}

/*th {
    background-color: var(--post-outline-color);
  }*/

@media (prefers-color-scheme: light) {
    .collapse.no-decoration.post-button,
    .thread.bottom-reply.no-decoration.post-button {
        color: var(--alt-label-color);
        background: var(--board-title);
    }

    .collapse.no-decoration.post-button:hover {
        color: var(--post-color) !important;
    }

    .thread.bottom-reply.no-decoration.post-button:hover {
        color: var(--post-color) !important;
    }

    .postmenu {
        background-color: var(--board-title);
        border: 1px solid var(--board-title);
    }

    .expand-omitted {
        border: 1px solid var(--board-title);
    }

    .expand-omitted {
        background-color: var(--board-title);
    }
}

@media only screen and (max-width: 600px) and (prefers-color-scheme: dark) {
    .collapse.no-decoration.post-button,
    .thread.bottom-reply.no-decoration.post-button {
        background: var(--post-outline-color);
    }
}

@media (min-width: 600px) {
    #action-menu,
    #actionform,
    #customcss-setting,
    #import-export-setting,
    #livetext,
    #postform-dragHandle,
    #submitpost,
    #threadstats,
    #threadwatcher,
    #float,
    .catalog-tile,
    .collapse.no-decoration.post-button,
    .embed-video,
    .form-post,
    .label,
    .modal,
    .pages,
    .post-button,
    .post-container,
    .postform-style,
    .rlabel,
    .stickynav,
    .thread.bottom-reply.no-decoration.post-button,
    .user.id,
    .collapse,
    .expand-omitted,
    .user-id,
    .post-info,
    .postmenu,
    .nav-item:hover,
    .nav-item-board:hover,
    .nav-item-faq:hover,
    .nav-item-rules:hover,
    img,
    input,
    table,
    textarea,
    video {
        border-radius: 0px;
    }

    hr,
    .navbar,
    .navbar-top .nav-item:nth-of-type(1),
    .navbar-bottom .nav-item:nth-of-type(1),
    #settings {
        border-top: 1px solid var(--post-outline-color);
    }

    .navbar-top .nav-item:nth-of-type(3) {
        border-bottom: 1px solid var(--post-outline-color);
    }

    .navbar {
        border-right: 1px solid var(--post-outline-color);
    }
}
