/*ptchina default adaptive theme*/
:root {
	--icon-color:invert(17%)sepia(89%)saturate(7057%)hue-rotate(2deg)brightness(93%)contrast(120%);
	--alt-label-color: #f5f5f5;
	--alt-font-color: #333;
	--background-top: #EEE;
	--background-rest: #EEE;
	--navbar-color: #DDD;
	--post-color: #DDD;
	--post-outline-color: #d2d2d2;
	--label-color: #f5f5f5;
	--box-border-color: #e0e0e0;
	--darken: #0000000f;
	--highlighted-post-color: #EEDACB;
	--highlighted-post-outline-color: #d2d2d2;
	--board-title: #313370;
	--hr: #DDD;
	--font-color: #333;
	--name-color: #313370;
	--capcode-color: #f00;
	--subject-color: #c33;
	--link-color: black;
	--accent-color: #c5c8c6;
	--post-link-color: darkblue;
	--link-hover: #313370;
	--input-borders: #d2d2d2;
	--input-color: #333;
	--input-background: #f5f5f5;
	--dice-color: maroon;
	--title-color: #c33;
	--greentext-color: #789922;
	--pinktext-color:#E0727F;
}
.post-info, .post-container:target .post-info, .post-container.highlighted .post-info {
	background:none!important;border:none!important
}

input[type=submit] {
    background-color: var(--board-title);
    color: var(--background-rest);
}

.upload-list {
    max-height: none;
}

.upload-item p {
    max-height: 2.5em;
}

tr:nth-child(2n+1) {
    background: unset;
}

img,
table,
video,
input,
textarea,
.catalog-tile,
.stickynav,
.form-post,
.post-button,
.post-container,
.pages,
.modal,
.rlabel,
.label,
.postform-style,
.embed-video,
.user.id,
#threadstats,
#action-menu,
#threadwatcher,
#actionform,
#livetext,
#postform-dragHandle,
#submitpost,
#customcss-setting,
#import-export-setting,
.collapse.no-decoration.post-button,
.thread.bottom-reply.no-decoration.post-button {
    border-radius: 10px;
}

.collapse,
.expand-omitted {
    border-radius: 5px;   
}

.postmenu,
.expand-omitted {
    border: 1px solid gray;
}

.catalog-thumb {
    box-shadow: 0 0 1px #000;
}

.user-id {
    text-shadow:none;
    color:#fff;
    padding:1px 5px;
    border:none;
    border-radius: 10px;
}

.post-date {
    opacity:.5
}

#float {
    border-radius: 10px;
}

table {
    overflow: hidden;
}

.post-info {
    background:var(--darken)!important;
    margin:-7.5px -6.5px 5px -6.5px;
    border-radius:6px 6px 0px 0px;
    padding:6px
}

.op .post-info {
    background:0 0!important;
    margin:none!important;
    border-bottom:none!important;
    border-radius:none!important
}
  
.post-info .post-check:hover  {
    opacity: 1;
    margin-right: unset;
}
  
.post-info .post-check {
    opacity: 0;
    margin-right: -1em;
    transition: opacity .1s,margin-right .1s;
}

@media (prefers-color-scheme:dark) {
    :root {
      --icon-color:invert(17%) sepia(89%) saturate(7057%) hue-rotate(2deg) brightness(93%) contrast(120%);
      --alt-label-color:#191B1F;
      --alt-font-color:#c5c8c6;
      --background-top:#0F1214;
      --background-rest:#0F1214;
      --navbar-color:#191B1F;
      --post-color:#191B1F;
      --post-outline-color:#191B1F;
      --label-color:#191B1F;
      --box-border-color:#111;
      --darken:#24272C;
      --highlighted-post-color:#2b1d1f;
      --highlighted-post-outline-color:#111;
      --board-title:#c5c8c6;
      --hr:#191B1F;
      --font-color:#c5c8c6;
      --name-color:#c5c8c6;
      --capcode-color:#f00;
      --subject-color:#b294bb;
      --link-color:#c5c8c6;
      --accent-color:#c5c8c6;
      --post-link-color:#5f89ac;
      --link-hover:#81a2be;
      --input-borders:#111;
      --input-color:#c5c8c6;
      --input-background:#1d1d21;
      --dice-color:darkorange;
      --title-color:#d70000;
      --greentext-color:green;
      --pinktext-color:#E0727F
    }

table {
	border: 1px solid var(--label-color);
}

tr:nth-child(2n+1) {
    background: unset;
}

.captcha {
    filter: invert(90%);
}

.box-wrap, .tabs li a {
	border: 1px solid #000;
}

.postmenu,
.expand-omitted {
    border: 1px solid var(--font-color);
}

}

@media only screen and (max-width: 600px) {
    .post-info {
        border-bottom: none;
    }

    .anchor:target+.post-container .post-info,.post-container.highlighted .post-info {
        border-bottom: none;
    }

    .catalog .post-check {
        top: 4px;
        margin-left: 2px;
    }
}

@media (prefers-color-scheme:light) {
    .collapse.no-decoration.post-button,
    .thread.bottom-reply.no-decoration.post-button{
        color: var(--alt-label-color);
        background: var(--board-title);
    }

    .collapse.no-decoration.post-button:hover {
        color: var(--post-color)!important;
    }

    .thread.bottom-reply.no-decoration.post-button:hover {
        color: var(--post-color)!important;
    }

    .postmenu {
        background-color: var(--board-title);
        border: 1px solid var(--board-title);
    }
}

@media only screen and (max-width: 600px) and (prefers-color-scheme: dark) {
    .collapse.no-decoration.post-button,
    .thread.bottom-reply.no-decoration.post-button{
        background: var(--background-rest);
}
}

