:root {
    --icon-color: invert(97%) sepia(32%) saturate(5790%) hue-rotate(318deg)
        brightness(107%) contrast(93%);
    --hr: #f6d251;
    --link-color: #f6d251;
    --post-link-color: #f6d251;
    --label-color: #5a1687;
    --alt-label-color: #5a1687;
    --navbar-color: #5a1687;
    --font-color: #fafafa;
    --alt-font-color: #fafafa;
    --input-color: #fafafa;
    --background-top: #430070;
    --background-rest: #430070;
    --post-color: #35134c;
    --highlighted-post-color: #230d33;
    --box-border-color: #230d33;
    --post-outline-color: #230d33;
    --highlighted-post-outline-color: #230d33;
    --input-borders: #230d33;
    --darken: #230d339f;
    --accent-color: #230d33;
    --board-title: #f85088;
    --title-color: #f85088;
    --link-hover: #f85088;
    --input-background: #5a1687;
    --subject-color: #f85088;
    --name-color: #70ef4c;
    --capcode-color: #f6d251;
    --dice-color: #ff770f;
    --greentext-color: #70ef4c;
    --pinktext-color: #f85088;
}

body {
    font-size: 16px;
    text-shadow: 1px 1px #000;
    background-image: linear-gradient(45deg, #35134cef, #35134cef),
        url(/css/themes/assets/digi-bg1.png);
}

#livetext,
#threadstats,
.bottom-reply,
.catalog-tile,
.collapse,
.pages,
.post-container {
    border: outset;
    border-color: #35134c;
}

.file-thumb {
    border: inset;
    border-color: #35134c;
}

.op.post-container {
    max-width: max-content;
    border: outset;
    border-color: #35134c;
    background: #35134c;
}

.board-title {
    text-shadow: 2px 2px #000;
}

.board-description {
    text-shadow: 2px 2px #000;
}

.footer {
    font-size: 16px;
    background: linear-gradient(to right, #00000000, #0000009f, #00000000);
}

.nav-item,
.short-nav.nav-item {
    line-height: 2em;
}

.close.mr-0 {
    padding-right: 1em;
}

.text-center.no-m-p.post-message {
    text-shadow: 2px 2px #000;
    max-width: max-content;
    margin: auto;
    font-weight: bold;
    padding: 10px;
    border: outset;
    border-color: #35134c;
    background: #35134c;
}

hr {
    border-width: 5px;
    border-style: dotted none none;
    margin: 5px 0;
}

* {
    cursor: url(/css/themes/assets/digi-cursor.png), default;
}

.post-file-info {
    font-size: 16px;
}

.post-container::before {
    margin-left: -35px;
}