mixin boardtable(ppd=false, activity=false, owner=false)
	.table-container.flex-center.mv-10.text-center
		table(class=`boardtable${activity ? ' w900' : ''}`)
			tr
				th Tábua
				if owner
					th Admin
				th Descrição
				th PPH
				if ppd
					th PPD
				th Utilizadores
				th Publicações
				if activity
					th Atividade
			block
