mixin boardtable(ppd=false, activity=false)
	.table-container.flex-center.mv-10.text-center
		table(class=`boardtable${activity ? ' w900' : ''}`)
			tr
				th Tábua
				th Descrição
				th PPH
				if ppd
					th PPD
				th Utilizadores
				th Publicações
				if activity
					th Última Atividade
			block
