mixin overboardform(overboardFormAction)
	.flexcenter.mv-10
		details
			summary.collapse Personalizar
			form.mt-5.form-post#overboardform(action=overboardFormAction method='GET')
				.col
					.row
						.label Incluir tábuas default
						label.postform-style.ph-5
							input(type='checkbox', name='include_default', value='true' checked=includeDefault)
					.row
						.label Adicionar Tábuas
						input(type='text' name='add' value=addBoards.join(',') placeholder='separado por vírgula')
					.row
						.label Remover Tábuas
						input(type='text' name='rem' value=removeBoards.join(',') placeholder='separado por vírgula')
				input(type='submit', value='Filtrar')
