mixin threadwatcher(minimised)
	.flex-center#threadwatcher(class=(minimised ? 'minimised' : ''))
		.row.noselect#threadwatcher-dragHandle
			span.fw.text-center Favoritos 
			span.mr-0.close #{minimised ? '[+]' : '[−]'}
