extends ../layout.pug
include ../mixins/ban.pug

block head
	title Banido!

block content
	h1.board-title Banido!
	h4.board-description Banimentos atualmente em vigor contra o seu IP:
	include ../includes/banform.pug
