extends ../layout.pug

block head
	title Alterar Password

block content
	h1.board-title Alterar Password
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/changepassword' method='POST' data-captcha-preload='true')
			.row
				.label Username
				input(type='text', name='username', maxlength='50' required)
			.row
				.label Password Atual
				input(type='password', name='password', maxlength='100' required)
			.row
				.label Nova Password
				input(type='password', name='newpassword', maxlength='100' required)
			.row
				.label Confirmar Nova Password
				input(type='password', name='newpasswordconfirm', maxlength='100' required)
			.row
				.label Código 2FA
				input(type='number' name='twofactor' placeholder='opcional, se ativo')
			if captchaOptions.type === 'text'
				include ../includes/captchasidelabel.pug
			else
				include ../includes/captchafieldrow.pug
			input(type='submit', value='Alterar Password')
		p: a(href='/login.html') Entrar
		p: a(href='/register.html') Registar
