extends ../layout.pug

block head
	title Criar Tábua

block content
	h1.board-title Criar Tábua
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/create' method='POST' data-captcha-preload='true')
			.row
				.label URI e.g. /uri/
				input(type='text', name='uri', maxlength=globalLimits.fieldLength.uri pattern='[a-zA-Z0-9]+' required title='Alfanumérico apenas')
			.row
				.label Nome
				input(type='text', name='name', maxlength=globalLimits.fieldLength.boardname required)
			.row
				.label Descrição
				input(type='text', name='description', maxlength=globalLimits.fieldLength.description)
			.row
				.label Tags
				textarea(name='tags' placeholder='Separadas por nova linha, máx 10')
			if captchaType === 'text'
				include ../includes/captchasidelabel.pug
			else
				include ../includes/captchafieldrow.pug
			input(type='submit', value='Criar')

