extends ../layout.pug

block head
	title Criar Tábua

block content
	h1.board-title Criar Tábua
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/create' method='POST' data-captcha-preload='true')
			.row
				.label URI e.g. /uri/
				input(type='text', name='uri', maxlength=globalLimits.fieldLength.uri pattern='[a-zA-Z0-9]+' required title='apenas alfanumérico')
			.row
				.label Nome
				input(type='text', name='nome', maxlength=globalLimits.fieldLength.boardname required)
			.row
				.label Descrição
				input(type='text', name='descrição', maxlength=globalLimits.fieldLength.description)
			.row
				.label Etiquetas
				textarea(name='etiquetas' placeholder='Nova linha separada, máximo 10')
			if captchaType === 'text'
				include ../includes/captchasidelabel.pug
			else
				include ../includes/captchafieldrow.pug
			input(type='submit', value='submit')

