extends ../layout.pug
include ../mixins/post.pug

block head
	title Perguntas Frequentes

block content
	h1.board-title Perguntas Frequentes
	include ../includes/stickynav.pug
	.table-container.flex-center.mv-5
		.anchor
		table
			tr
				th Perguntas frequentes
			tr
				td.post-message
					b Geral
					ul.mv-0
						li: a(href='#doar') Como posso ajudar o ptchan?
						li: a(href='#sponsors') Sponsors
						li: a(href='#denunciar') Como posso denunciar uma publicação?
						li: a(href='#legalDMCA') Remoção de conteúdo que infringe direitos legais/DMCA.
						li: a(href='#contactar') Como posso contactar a administração?
						li: a(href='#source') Source & API?
						li: a(href='#app') App
						//-li: a(href='#mascote') Mascote

					b Participar
					ul.mv-0
						//-li: a(href='#criarfio') Como crio um fio?
						//-li: a(href='#responder') Como respondo a um fio?
						//-li: a(href='#responderu') Como respondo a outro utilizador?
						//-li: a(href='#sage') O que é um sage?
						//-li: a(href='#IDs') O que são IDs?
						li: a(href='#captcha') Como resolvo o CAPTCHA?
						li: a(href='#name-formatting') Como funcionam os nomes, tripcodes e capcodes?
						li: a(href='#post-styling') Como posso formatar o meu texto?
						//-li: a(href='#post-info') Qual é o limite de ficheiros?
						//-li: a(href='#moderation') Como funciona a moderação?
						//-li: a(href='#banido') Fui banido, e agora?
					b Tábuas, utilizadores & permissões
					ul.mv-0
						//-li: a(href='#make-a-board') Como faço uma tábua?
						li: a(href='#staff-and-permissions') Contas
						//-li: a(href='#antispam') What do the board settings for antispam do?
					b Política de privacide e cookies/local storage.
					ul.mv-0
						li: a(href='#privacidadecookies') Política de privacidade e cookies/local storage.

	.table-container.flex-center.mv-5
		.anchor#doar
		table
			tr
				th: a(href='#doar') Como posso ajudar o ptchan?
			tr
				td
					p
						| Podes ajudar o ptchan com uma pequena doação que te garante certos benefícios:
					ul
						li Doação única, sem mensalidades.
						li Poder criar 1 (uma) tábua com todas as opções de administração que daí advêm.
						li Limite de carregamentos de 100MB.
						li Carregar ficheiros através de TOR/VPN.
						li Captcha bypass.
						li DNSBL bypass.
						li Poder usar o capcode
							|
							|
							span.mono ## ouro
							|  no campo de nome.
						li Poder usar
							|
							|
							span.mono ##sorte
							|  no campo de mensagem.
						li Poder usar dados, ex:
							|
							|
							span.mono ##2%6
							|  no campo de mensagem.
						li Poder usar vários markdowns como
							|
							|
							span.mono ==título==
							|,
							|
							span.mono +++big+++
							|  e
							|
							span.mono <
							|.
						li Qualquer outra função que seja implementada no futuro.

					p
						a(href='https://ptchan.org/register.html' referrerpolicy='same-origin') Cria uma conta e depois clica em "❤️ Doar".

					p
						| Se preferires fazer uma doação em cripto por favor envia um email.
					p
						| Também podes adquirir algo na
						|
						a(href='https://shop.ptchan.org' referrerpolicy='same-origin' target='_blank') Loja

					//p.post-message
						| Toma nota que a tua conta nunca será apagada no entanto não te garante imunidades especiais vs. um utilizador comun.
					//ul
						li(style='display: contents;'): img(src='/misc/btc.png' title='BTC' style='width: 15px; height: 15px; vertical-align: top;')
						|   Bitcoin:
						a.mono(href='bitcoin:bc1qelftgtllcjze6z8f75h8e4fzrxgctzkpdznlfe') bc1qelftgtllcjze6z8f75h8e4fzrxgctzkpdznlfe
					//ul(style='word-break: break-all;')
						li(style='display: contents;'): img(src='/misc/xmr.png' title='XMR' style='width: 16px; height: 16px; vertical-align: top;')
						|   Monero:
						a.mono(href='monero:4AhK1uSbr3kBJEdcvtyvS3WRYKpLfk1nyHvqkfc9ZQbnFWAWTw1m4Q4AS4WafqatdT7FgTD3Ufe3B6WATAotx6GhH7UVxNN') 4AhK1uSbr3kBJEdcvtyvS3WRYKpLfk1nyHvqkfc9ZQbnFWAWTw1m4Q4AS4WafqatdT7FgTD3Ufe3B6WATAotx6GhH7UVxNN
					//ul
						li(style='display: contents;'): img(src='/misc/eth.png' title='ETH' style='width: 15px; height: 15px; vertical-align: top;')
						|   Ethereum (e outros tokens ERC-20):
						a.mono(href='ethereum:0x3DA012E500bbbD4eABa3e871D472F705dfCc608b') 0x3DA012E500bbbD4eABa3e871D472F705dfCc608b
	.table-container.flex-center.mv-5
		.anchor#sponsors
		table
			tr
				th: a(href='#sponsors') Sponsors
			tr
				td.post-message(style='text-align: center;')
					p
						span.bold.flex-center.mv-5 Platinum
					a(href="https://basedflare.com")
						img.centerpiece(src="/sponsors/basedflare.png" title="Basedflare")
					p
						span.bold.flex-center.mv-5 Gold
					p
						| Queres patrocinar o ptchan? Por favor envia um email.
	.table-container.flex-center.mv-5
		.anchor#denunciar
		table
			tr
				th: a(href='#denunciar') Como posso denunciar uma publicação?
			tr
				td.post-message
					p
						| Podes denunciar uma publicação que infrinja as regras clicando na caixa com um ponto de exclamação ao lado da publicação e em Denúnciar ou Denúncia Global, preenche o motivo, completa o CAPTCHA e envia.
					p
						| Para denunciares várias publicações ao mesmo tempo clica nas checkboxes das publicações e vai a Ações no final da página.
	.table-container.flex-center.mv-5
		.anchor#legalDMCA
		table
			tr
				th: a(href='#legalDMCA') Remoção de conteúdo que infringe direitos legais/DMCA
			tr
				td.post-message
					p
						| If something on this website infringes on your legal rights please submit a properly formated DMCA Takedown Notice or legal equivalent to info@ptchan.org and the content will be taken down as soon as possible. Be advised that nothing on this website is permanent and all content is automatically deleted once it reaches the end of the last page of each board.
					hr
					p
						| Se algo neste site infringe os teus direitos legais envia um DMCA Takedown ou equivalente legal devidamente formatado para info@ptchan.org e o conteúdo será prontamente removido. Tem em conta que nada neste site é permanente e todo o conteúdo é automaticamente apagado quando chega ao fim da última página de cada tábua.
	.table-container.flex-center.mv-5
		.anchor#contactar
		table
			tr
				th: a(href='#contactar') Como posso contactar a administração?
			tr
				td.post-message
					p
						a(href='mailto:info@ptchan.org') info@ptchan.org
	.table-container.flex-center.mv-5
		.anchor#source
		table
			tr
				th: a(href='#source') Source & API
			tr
				td
					p
						a(href='https://github.com/l29utp0/ptchina' referrerpolicy='same-origin' target='_blank') https://github.com/l29utp0/ptchina
	.table-container.flex-center.mv-5
		.anchor#app
		table
			tr
				th: a(href='#app') App
			tr
				td
					p
						| O ptchan usa uma
						|
						a(href='https://en.wikipedia.org/wiki/Progressive_web_app' referrerpolicy='same-origin' target='_blank') PWA
						| , o que significa que não precisa de ser instalado através de uma loja de aplicações, apenas abre um dos sites no navegador do teu dispositivo, vai às opções e carrega em algo que diga "instalar" ou "adicionar ao ecrã principal".
					p
						|Também podes usar o
						|
						a(href='https://github.com/moffatman/chan' referrerpolicy='same-origin' target='_blank') Chance
						|  para Android e iOS mas tem em conta que o suporte é ainda experimental e não dispõe de todas as funções do site.
	//-.table-container.flex-center.mv-5
		.anchor#mascote
		table
			tr
				th: a(href='#mascote') Mascote
			tr
				td
					img.centerpiece(src='/misc/martafaq.png' title='Marta' style='max-width: 150px')
					p A mascote do ptchan é a Marta.

					p
						a(href='https://pt.wikipedia.org/wiki/K%C5%ABneru_Marta' referrerpolicy='same-origin' target='_blank') https://pt.wikipedia.org/wiki/K%C5%ABneru_Marta
	//-.table-container.flex-center.mv-5
		.anchor#criarfio
		table
			tr
				th: a(href='#criarfio') Como crio um fio?
			tr
				td
					p
						| Para criares um fio clica em Novo Fio no topo da página ou catálogo de uma tábua.
	//-.table-container.flex-center.mv-5
		.anchor#responder
		table
			tr
				th: a(href='#criarfio') Como respondo a um fio?
			tr
				td
					p
						| Para responderes a um fio primeiro tens que o abrir clicando em Responder e depois em Responder no topo da página do fio, também podes clicar no número da publicação para abrir o fio/caixa de resposta de forma mais rápida.
	//-.table-container.flex-center.mv-5
		.anchor#responderu
		table
			tr
				th: a(href='#responderu') Como respondo a outro utilizador?
			tr
				td
					p
						| Para responderes a outro utilizador clica no seu número de publicação e este é adicionado automáticamente à caixa de resposta.
	//-.table-container.flex-center.mv-5
		.anchor#sage
		table
			tr
				th: a(href='#sage') O que é um sage?
			tr
				td
					p
						| Ao escreveres sage na caixa de email/opção a tua publicação não eleva o fio para o topo da página.
	//-.table-container.flex-center.mv-5
		.anchor#IDs
		table
			tr
				th: a(href='#IDs') O que são IDs?
			tr
				td
					p
						| Os IDs, quando ativos numa tábua, são uma forma de identificar utilizadores dentro de um fio.
	.table-container.flex-center.mv-5
		.anchor#captcha
		table
			tr
				th: a(href='#captcha') Como resolvo o CAPTCHA?
			tr
				td
					p
						img.centerpiece(src='/misc/captcha.png' title='Usa o cérebro')
	.table-container.flex-center.mv-5
		.anchor#name-formatting
		table
			tr
				th: a(href='#name-formatting') Como funcionam os nomes, tripcodes e capcodes?
			tr
				td.post-message
					p Ao fazeres uma publicação podes formatar o campo do nome para incluir um nome, tripcode, capcode ou uma combinação dos três. Também podes deixar o nome em branco e o default da tábua será usado.

					b Formato de nome
					p
						| Nomes devem ser inseridos da seguinte forma:
						input(disabled='true' spellcheck='false' type='text' value='Nome##Tripcode## Capcode')
						| .
					p Exemplos válidos::
					ol.mv-0
						li nome
						li #tripcode
						li ##tripcode
						li ## capcode
						li nome#tripcode
						li nome##tripcode
						li nome## capcode
						li nome#tripcode## capcode
						li nome##tripcode## capcode
						li #tripcode## capcode
						li ##tripcode## capcode
						li ##
					p O último exemplo apenas mostra a tua posição na tábua, se és o dono, mod, etc.
					p Cada elemento pode ser usado numa combinação ou independentemente, o exemplo número 9 seria:
						-
							const examplePost = {
								"date" : new Date("2025-08-02T09:48:44.180Z"),
								"name" : "nome",
								"board" : "example",
								"tripcode" : "!!X8NXmAS44=",
								"capcode" : "## Admin",
								"message" : "Olá mundo!",
								"nomarkup" : "Olá mundo!",
								"thread" : 1,
								"password" : null,
								"email" : "",
								"spoiler" : false,
								"banmessage" : null,
								"files" : [ ],
								"reports" : [ ],
								"globalreports" : [ ],
								"quotes" : [ ],
								"backlinks" : [ ],
								"postId" : 123
							}
						+post(examplePost)
					//-p The name appears bold in the top left, followed by the tripcode in regular weight with a !! prefix, then the capcode in a different color, bold and with a ## prefix. The colours may vary between themes but are generally distinct from each other

					b Nome
					p O Nome é apenas o que queres mostrar ao lado da tua publicação, outros utilizadores podem escrever o mesmo Nome portanto não existe nada que impeça a impersonalização. Não está realacionado com a tua conta (para utilizadores registados).

					b Tripcode
					p Um Tripcode é uma forma de identidade.

					b Capcode
					p Um Capcode é uma forma de identificação para utilizadores registados e com algum tipo de função no site.
	.table-container.flex-center.mv-5
		.anchor#post-styling
		table
			tr
				th(colspan=2): a(href='#post-styling') Formatação de texto
			tr
				th Input
				th Output
			tr
				td &gt;citar
				td
					span.greentext &gt;citar
			tr
				td &lt;rosacitar
				td
					span.pinktext &lt;rosacitar
			tr
				td ==título==
				td
					span.title título
			tr
				td ''negrito''
				td
					span.bold negrito
			tr
				td __sublinhado__
				td
					span.underline sublinhado
			tr
				td ~~riscado~~
				td
					span.strike riscado
			tr
				td ||spoiler||
				td
					span.spoiler spoiler
			tr
				td **itálico**
				td
					span.em itálico
			tr
				td ##2%9+3
				td
					img(src='/file/dice.png' height='16' width='16')
					span.dice (##2d9+3) 2 dados de 9 e modificador +3 = 10
			tr
				td ##sorte
				td
					span.sorte Sorte: Boa sorte
			tr
				td https://example.com
				td: a(href='#!') https://example.com
			tr
				td [links personalizados](https://example.com)
				td: a(href='#!') links personalizados (apenas funciona se fores admin/mod de uma tábua)
			tr
				td
					| ![Alt text](https://your.imageboard/file/example.jpg)
					div
						small (requires permission)
				td: img(src='/file/attachment.png' alt='Alt text' title='alt-text' class='embimg' height='32' width='32')
			tr
				td &gt;&gt;123
				td: a(class="quote" href="#!") &gt;&gt;123
			tr
				td &gt;&gt;&gt;/b/
				td: a(class="quote" href="#!") &gt;&gt;&gt;/b/
			tr
				td &gt;&gt;&gt;/b/123
				td: a(class="quote" href="#!") &gt;&gt;&gt;/b/123
			tr
				td `inline monospace`
				td
					span.mono inline monospace
			tr
				td
					| [code]language
					br
					| int main() {...}
					br
					| [/code]
				td
					span.code int main() {...}
			tr
				td
					pre
						| [code]aa
						| ∧＿∧
						| ( ・ω・) Vamos tentar outra vez.
						| [&#x2F;code]
				td
					pre.aa
						| ∧＿∧
						| ( ・ω・) Vamos tentar outra vez.
			tr
				td(colspan=2)
					| A "language" das tags de código é opcional, sem ela deteção automática de código é usada.
					p
					| Se for "plain" a deteção de código é desativada. Se "aa" for usado a fonte é ajustada para Arte ASCII/Japanese Shift JIS art.
					| Nem todas as linguagens de programação são suportadas.
	//-.table-container.flex-center.mv-5
		.anchor#post-info
		table
			tr
				th: a(href='#post-info') What is the file size limit?
			tr
				td
					p Max size of form data per-post is #{postFilesSize}. Because other fields e.g. name, message, etc contribute to this, the maximum size of file uploads will be very slightly smaller than this.
	//-.table-container.flex-center.mv-5
		.anchor#moderation
		table
			tr
				th: a(href='#moderation') Como funciona a moderação?
			tr
				td.post-message
					b Geral
					p
						| Moderation is very simple. Moderation permissions are different between regular users, board staff (board owner or moderator) and globals (global staff or admin).
						| By default, regular users can delete, spoiler or remove the files from their own posts, provided a matching post password is supplied. They can also report or global report posts.
						| Board staff have near full power over posts on their board including removing posts, stickying, spoilering, etc. even for other users posts without the need for a password. They also have access to board specific management page.
						| Global staff have full power over all posts on all boards, can access the board specific management page for any board and additionally have access to the global management page.
					b Denúncias locais vs. globais
					p
						| There exists the concept of "local" and "global" reports. Reporting a post locally will show the post along with reports on the report page for that particular board, and the reports
						| may be actioned upon by the board staff. Reporting a post globally will show the post along with reports on the global manage page available only to global staff and may be actioned upon by global staff.
						| Global reports should be used to flag posts that violate global rules such as illegal content or spam, in contrast to local reports which are for posts that abide by global rules but break
						| board-specific rules (which may be made arbitrarily by board staff). It is also possible to be banned from a board or globally for abuse of the report system.
					b Processar publicações em massa
					p
						| Each post has a checkbox in the top left to select it for moderation actions. Multiple posts may be selected to allow batch processing e.g. reporting multiple offending posts in one request.
						| The same is present in moderation interfaces. Some actions for example bans (which are based on IP) may also be handled in batches. Selecting multiple posts and using the ban action will
						| apply a single ban for each unique IP of the selected posts.
					b Formato da duração de bans, etc
					p
						| Some moderation interfaces, for example the ban duration when moderating posts, or the ban duration for post filtering use a shorthand for times/length. This format supports years, months, weeks, days, hours, minutes and seconds.
						| An input of "3mo" would mean 3 months and "1y2mo3w4d5h6m7s" would mean 1 year, 2 months, 3 weeks, 4 days, 5 hours, 6 minutes and 7 seconds. Units of time should be in descending order, so "2w1mo" is invalid.
						| However you may use "6w" for example to input 6 weeks, and are not required to use "1mo2w".
	//-.table-container.flex-center.mv-5
		.anchor#make-a-board
		table
			tr
				th: a(href='#make-a-board') Como faço uma tábua?
			tr
				td
					p
						a(href='/register.html') Regista
						|  uma conta, depois
						a(href='/create.html') cria uma tábua
						|. Evita fazer tábuas excessivas ou que já existam.
	.table-container.flex-center.mv-5
		.anchor#staff-and-permissions
		table
			tr
				th: a(href='#staff-and-permissions') Contas
			tr
				td
					p
						| Em ordem de importância e poder existem 3 níveis de conta, que são representados por um capcode encarnado ao lado do nome em cada publicação:
						ul(style='list-style-type: none')
							li.span.post-capcode ## Sysop
							p Administração e staff global do site.
							li.span.post-capcode ## Admin
							p Administrador de uma tábua.
							li.span.post-capcode ## Mod
							p Moderador de uma tábua.
	//-.table-container.flex-center.mv-5
		.anchor#antispam
		table
			tr
				th: a(href='#antispam') What do the board settings for antispam do?
			tr
				td
					p Lock Mode: Choose to lock posting new threads or all posts.
					p Captcha Mode: Choose to enforce captchas for posting threads or all posts.
					p PPH Trigger Threshold: Trigger an action after a certain amount of PPH.
					p PPH Trigger Action: The action to trigger.
					p TPH Trigger Threshold: Trigger an action after a certain amount of TPH.
					p TPH Trigger Action: The action to trigger.
					p Trigger Reset Lock Mode: If a trigger threshold was reached, reset the lock mode to this at the end of the hour.
					p Trigger Reset Captcha Mode: If a trigger threshold was reached, reset the captcha mode to this at the end of the hour.
					p Early 404: When a new thread is posted, delete any existing threads with less than #{early404Replies} replies beyond the first 1/#{early404Fraction} of threads.
					p Disable anonymizer file posting: Prevent users posting images through anonymizers such as Tor hidden services, lokinet SNApps or i2p eepsites.
					p Blocked Countries: Block country codes (based on geo Ip data) from posting.
	//-.table-container.flex-center.mv-5
		.anchor#filters
		table
			tr
				th: a(href='#filters') O que fazem as opções de filtro?
			tr
				td
					p Filtros: Lista de palavras ou frases separadas por uma nova linha a serem detetadas nas publicações. Verifica o nome, mensagem, email, assunto e nome dos ficheiros.
					p Filtro Estrito: Modo de filtro mais agressivo, tenta várias combinações.
					p Modo de Filtro: O que fazer quando algo é detetado.
					p Duração do Autoban de Filtros: Quanto tempo autobanir quando o modo está em ban, E.g. 5h, 1d, etc.
	.table-container.flex-center.mv-5
		.anchor#privacidadecookies
		table
			tr
				th: a(href='#privacidadecookies') Política de Privacidade
			tr
				td.post-message
					p.bold
						| Disposições Gerais
					p
						| Esta Política de Privacidade tem a função de informar os utilizadores deste site acerca da natureza e propósito da recolha de informação pelo site. O ptchan leva a tua privacidade a sério e irá tratar a tua informação com confidencialidade e dentro do previsto pela lei. De acordo com avanços tecnologicos e/ou modificações ao site, encorajamos os utilizadores a rever esta Política de Privacidade periódicamente pois a mesma está sujeita a alterações.
					p.bold
						| Dados de acesso
					p
						| É do interesse legítimo do site manter access logs ao mesmo, estes access logs poderão conter a data, endereço IP, user agent e o tipo de pedidos. Esta informação é apenas armazenada temporáriamente e está estruturada em duas partes:
					ul
						li access.log: Contém a data, endereço IP, user agent e o tipo de pedido, é armazenado temporáriamente por 7 dias.
						li error.log: Contém a data, endereço IP, user agent, o tipo de pedido e os erros produzidos pelo servidor, é armazenado temporáriamente por 7 dias.
					p.bold
						| Recolha e processamento de dados pessoais
					p
						| O ptchan não requer qualquer tipo de informação pessoal identificável dos seus utilizadores para ser usado.
					p.bold
						| Partilha de dados
					p
						| O ptchan não partilha qualquer tipo de dados com terceiros a não ser que obrigado por lei. Em nenhuma circunstância são dados vendidos a terceiros.
					p.bold
						| Publicações dos utilizadores
					p
						| Os endereços IP são anonimizados e apenas estão disponíveis no seu formato original à administração do site, ficam associados à publicação e são automaticamente eliminados quando a publicação sai da tábua ou depois de 7 dias. Publicações feitas através da rede Tor não contêm um IP mas sim um identificador com base no cookie "bypassid".
					p
						| Em certas circunstâncias poderá ser publicado um link embutível (por exemplo do Youtube) de um serviço externo, a responsabilidade de embutir e carregar um recurso externo alheio ao ptchan é do utilizador.
					p.bold
						| Cookies e local storage
					p
						| Todos os cookies e local storage utilizados pelo ptchan são apenas para o seu correto funcionamento e personalização. O ptchan não usa cookies de terceiros ou tracking publicitário. Na tabela em baixo poderás encontrar mais informações.
					span.small
						| Atualizado pela última vez a 20/7/2024.
		.table-container.flex-center.mv-5
		table
			tr
				th(colspan=3) Cookies e Local Storage
			tr
				th Nome
				th Tipo
				th Função
			tr
				td connect.sid
				td Cookie
				td Sessão de conta
			tr
				td captchaid
				td Cookie
				td Captcha
			tr
				td bypassid
				td Cookie
				td Bypass
			//-tr
				td ptchc
				td Cookie
				td Consentimento cookies
			tr
				td /css/themes/*
				td Local Storage
				td Personalização
			tr
				td 24
				td Local Storage
				td Personalização
			tr
				td alwaysshowreplies
				td Local Storage
				td Personalização
			tr
				td codetheme
				td Local Storage
				td Personalização
			tr
				td crispimages
				td Local Storage
				td Personalização
			tr
				td customcss
				td Local Storage
				td Personalização
			tr
				td dragleft
				td Local Storage
				td Personalização
			tr
				td dragtop
				td Local Storage
				td Personalização
			tr
				td filters1
				td Local Storage
				td Personalização
			tr
				td heightlimit
				td Local Storage
				td Personalização
			tr
				td hiddenimages
				td Local Storage
				td Personalização
			tr
				td hiddenrecursive
				td Local Storage
				td Personalização
			tr
				td hiddenthumbnails
				td Local Storage
				td Personalização
			tr
				td hiddenloadingbars
				td Local Storage
				td Personalização
			tr
				td hidepoststubs
				td Local Storage
				td Personalização
			tr
				td live
				td Local Storage
				td Personalização
			tr
				td localtime
				td Local Storage
				td Personalização
			tr
				td name
				td Local Storage
				td Personalização
			tr
				td notifications-yous-only
				td Local Storage
				td Personalização
			tr
				td noncolorids
				td Local Storage
				td Personalização
			tr
				td notifications
				td Local Storage
				td Personalização
			tr
				td overboardsettings
				td Local Storage
				td Personalização
			tr
				td postpassword
				td Local Storage
				td Personalização
			tr
				td relative
				td Local Storage
				td Personalização
			tr
				td scroll
				td Local Storage
				td Personalização
			tr
				td theme
				td Local Storage
				td Personalização
			tr
				td threadwatcher-minimise
				td Local Storage
				td Personalização

			tr
				td volume
				td Local Storage
				td Personalização
			tr
				td watchlist
				td Local Storage
				td Personalização
			tr
				td yous-setting
				td Local Storage
				td Personalização
			tr
				td yous
				td Local Storage
				td Personalização
			tr
