extends ../layout.pug

block head
	title Login

block content
	h1.board-title Login
	.form-wrapper.flex-center.mv-10
		form.form-post(action='/forms/login' method='POST')
			input(type='hidden' name='goto' value=goto)
			.row
				.label Usuário
				input(type='text', name='username', maxlength='50' required)
			.row
				.label Senha
				input(type='password', name='password', maxlength='100' required)
			input(type='submit', value='enviar')
		if enableUserAccountCreation
			p: a(href='/register.html') Registrar
		p: a(href='/changepassword.html') Alterar senha

