extends ../layout.pug
include ../mixins/catalogtile.pug
include ../mixins/overboardform.pug
include ../mixins/announcements.pug

block head
	title Catálogo Tudo

block content
	.board-header.mb-5
		h1.board-title Catálogo Tudo
		h4.board-description
			|  
			| [
			a(href=`/overboard.html?${cacheQueryString}`) Index
			| ]
	if allowCustomOverboard === true
		+overboardform('/catalog.html')
	+announcements()
	include ../includes/stickynav.pug
	.wrapbar
		.pages.jsonly
			input#catalogfilter(type='text' placeholder='Filtrar')
			select.ml-5.right#catalogsort
				option(value="" disabled selected hidden) Ordenar
				option(value="bump") Bump
				option(value="date") Criação
				option(value="replies") Respostas
	hr(size=1)
	if threads.length === 0
		p Sem publicações.
	else 
		.catalog
			for thread, i in threads
				+catalogtile(thread, i, true)
	hr(size=1)
